## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [3]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df

,City_ID,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
0,5,Busselton,AU,51.58,overcast clouds,-33.6500,115.3333,Observatory Guest House
1,9,Mayskiy,RU,63.81,light rain,47.6931,40.1025,Dio Lakrua
2,13,Vaini,TO,69.96,scattered clouds,-21.2000,-175.2000,Keleti Beach Resort
3,19,Pacific Grove,US,67.21,broken clouds,36.6177,-121.9166,Lovers Point Inn
4,26,Carnarvon,AU,66.07,few clouds,-24.8667,113.6333,Hospitality Carnarvon
...,...,...,...,...,...,...,...,...
204,668,Prince Rupert,CA,57.29,overcast clouds,54.3161,-130.3201,Crest Hotel
205,677,San Simon De La Laguna,MX,62.80,overcast clouds,19.3000,-100.0833,Familia Vega Primo
206,680,Rochefort,FR,69.85,clear sky,45.9167,-1.0000,Hôtel de France Citotel
207,683,Szczytno,PL,64.54,overcast clouds,53.5626,20.9875,Noclegi Szczytno Marusa
208,687,Hualmay,PE,65.89,broken clouds,-11.0964,-77.6139,Hotel Villa Kitzia Huacho

In [4]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Weather Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp}</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [5]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
markers = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(markers)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.
vacation_start = "Pacific Grove"
vacation_end = "Pacific Grove"
city2 = "Fortuna"
city3 = "Eureka"
city4 = "Portland" 



vacation_start = vacation_df.loc[vacation_df["City"] == vacation_start]
vacation_end = vacation_df.loc[vacation_df["City"] == vacation_end]  
vacation_stop2 = vacation_df.loc[vacation_df["City"] == city2]
vacation_stop3 = vacation_df.loc[vacation_df["City"] == city3] 
vacation_stop4 = vacation_df.loc[vacation_df["City"] == city4]

In [7]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start[["Lat", "Lng"]].to_numpy()[0]
end = vacation_end[["Lat", "Lng"]].to_numpy()[0]
stop1 = vacation_stop2[["Lat", "Lng"]].to_numpy()[0]
stop2 = vacation_stop3[["Lat", "Lng"]].to_numpy()[0]
stop3 = vacation_stop4[["Lat", "Lng"]].to_numpy()[0]

In [8]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
travel_route = gmaps.directions_layer(start, end, waypoints=[stop1,stop2,stop3], travel_mode="DRIVING" or "BICYCLING" or "WALKING")
fig.add_layer(travel_route)

In [9]:
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop2, vacation_stop3, vacation_stop4],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
0,19,Pacific Grove,US,67.21,broken clouds,36.6177,-121.9166,Lovers Point Inn
1,504,Fortuna,US,60.66,scattered clouds,40.5982,-124.1573,Super 8 by Wyndham Fortuna
2,569,Eureka,US,60.93,scattered clouds,40.8021,-124.1637,Eureka Inn Trademark By Wyndham
3,160,Portland,US,68.09,overcast clouds,45.5234,-122.6762,Embassy Suites by Hilton Portland Downtown

In [11]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Weather Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp}</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [12]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure()
markers = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(markers)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))